#app {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#game {
    position: relative;
}

#inventory-menu {
    position: absolute;
    /* top: 20px; 
    right: 20px;  */
    background-color: black;
    padding: 1em;
    border: 1px solid #0ec3c9;
    border-radius: 7px;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
    font-family: "Courier New", Courier, monospace;
    width: 16em;
}

#inventory-menu h2 {
    margin-top: 0;
}

#inventory-menu ul {
    list-style: none;
    padding: 0;
}

#inventory-menu li {
    margin-top: 1.5em;
}

.button {
    width: 140px;
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.3s;
    font-family: "Courier New", Courier, monospace;
}

.button:hover {
    border: 1px solid #0ec3c9;
    color: #0ec3c9;
}

.button:active {
    background-color: #0ec3c9;
}

.button:disabled {
    cursor: not-allowed;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
}

.human-button-container {
    display: flex;
    justify-content: space-between;
}
.remove-button {
    height: 3em;
    width: 8em;
}

.remove-button:hover {
    border: 1px solid #ff0000;
    color: #f53131;
    font-size: 16px;
}
